<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>관리 페이지</title>
</head>
<body>
<header id="header"></header>
<div th:include="header"></div>
<form id="search-form">
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters m-5 ">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <button type="button"
                            onclick="location.href='/admin/reportedPostList'"
                            class="btn btn-primary">신고받은 게시글
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>날짜</th>
        <th>주제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${data}">
        <td th:text="${item.getDate()}"></td>
        <td th:text="${item.theme}" contenteditable="true"
            th:attr="data-id=${item.date}"
            onblur="updateTheme(this.getAttribute('data-id'), this.innerText)">
        </td>
    </tr>
    </tbody>
</table>


<footer id="footer"></footer>
<div th:include="footer"></div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function updateTheme(date, theme) {
        $.ajax({
            url: '/admin/calendar/update',
            type: 'POST',
            data: {date: date, theme: theme},
            success: function (data) {
                console.log('Updated successfully.');
            }, error: function () {
                console.log('ajax Error')
            }
        });
    }
</script>
</body>
</html>