<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>

        .container {
            max-width: 1000px;
        }

        a {
            text-decoration: none !important;
        }

        a:link {
            color: black
        }

        a:visited {
            color: black
        }

        a:hover {
            color: brown
        }
    </style>
    <title>게시물 리스트</title>
</head>
<body>
<header id="header" th:include="header"></header>

<div class="container">
    <div class="py-5 text-center">
        <h2>게시물 리스트</h2>
    </div>

    <hr class="my-4">
    <div class="header">
        <div class="col">
            <Button class="btn btn-primary btn-lg" style="float: right"
                    th:onclick="|location.href='@{/post/add}'|"
                    th:text="'글 쓰기'" type="button">글쓰기
            </Button>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">닉네임</th>
                <th scope="col">신고 횟수</th>
                <th scope="col">정지</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reportedPost : ${list}">
                <th scope="row"><a th:href="@{|/post/read/${reportedPost.postId}|}"
                                   th:text="${reportedPost.postId}"></a></th>
                <td><a th:href="@{|/post/read/${reportedPost.postId}|}" th:text="${reportedPost.title}"></a></td>
                <td th:text="${reportedPost.nickName}"></td>
                <td th:text="${reportedPost.reports}"></td>
                <td>
                    <details>
                        <summary class="memberSummary">회원 정지</summary>
                        <form>
                            <label>
                                <input hidden="hidden" th:value="${reportedPost.postId}" name="postId">
                            </label>
                            <label>
                                <input name="date"
                                       placeholder="정지할 일수, 0은 영구정지">
                            </label>
                            <label>
                                <input name="reason"
                                       placeholder="정지 사유">
                            </label>
                            <button type="button" onclick="lockUserFetch(this.form)">정지</button>
                            <div></div>
                        </form>
                    </details>
                </td>
                <td>
                    <button type="button" th:onclick="deletePost([[${reportedPost.postId}]])">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <form id="search-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <label for="search-type" hidden>검색 유형</label>
                                    <select class="form-select" id="search-type" name="searchType">
                                        <option>제목</option>
                                        <option>본문</option>
                                        <option>id</option>
                                        <option>닉네임</option>
                                        <option>해시태그</option>
                                    </select>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                    <label for="search-value" hidden>검색어</label>
                                    <input type="text"
                                           placeholder="검색어..."
                                           class="form-control"
                                           id="search-value"
                                           name="searchValue">
                                </div>
                                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-base">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="24"
                                             height="24"
                                             viewBox="0 0 24 24"
                                             fill="none"
                                             stroke="currentColor"
                                             stroke-width="2"
                                             stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer id="footer" th:include="footer"></footer>

<script th:inline="javascript">
    function lockUserFetch(form) {
        let formData = new FormData(form);

        const reportedPostId = formData.get('postId');
        const date = formData.get('date');
        const reason = formData.get('reason');

        fetch('/admin/lockUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({postId: reportedPostId, lockReason: reason, lockDate: date}),
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log('Request successful', text);
            alert(text); // 비동기 통신 콜백(체인 메소드)으로 text값을 리턴받아 출력
        }).catch(function (error) {
            console.log('Request failed', error)
        });
    }

    function deletePost (id) {
        console.log("deletePostId=" + id);
        fetch('/admin/delete/'+id, {
            method: 'DELETE',
        }).then(function (response) {
            return response.text();
        }).then(function (text) {
            console.log('Request successful', text);
            alert(text); // 비동기 통신 콜백(체인 메소드)으로 text값을 리턴받아 출력
        }).catch(function (error) {
            console.log('Request failed', error)
        });
    }
</script>
</body>
</html>