header{
    position: fixed;
    top: 0;
    right: 0;
    width: 349.25px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.header-buttons {
    display: flex;
    gap: 10px;
}