.following-link {
    text-decoration: none;
    color: #000;
    font-size: 1.0rem;}

#wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.following-link em {
    font-style: normal !important;
}

.side-nav {
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

main {
    display: inline;
}

.follow-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.div-aside{
    margin-top: 10px;
    display: inline-block;
}

.default-profile {
    top: 70%;
    left: 50%;
    height: 10%;
    transform: translate(-50%, 0%);
    width: 5%;
    margin: 0;
}
.private-page-name{
    margin-left: 42%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 981px) {
    .side-nav {
        flex-direction: row;
        align-items: flex-start;
    }

    .following-link {
        font-size: 0.8rem;
    }

}