thead {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media screen and (max-width <= 1650px) {
   .container{
      transition: transform 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: scale(0.8);
   }

}