<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" ,
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/followdetail.css">
    <title>follow</title>
</head>
<body>
<div>
    <button id="btn-back"> X</button>
</div>
<main>
    <div>
        <ul class="list_follow">
            <li th:each="followee : ${followees}">
                <span class="span_follow" th:text="${followee.nickName}"></span>
                <span class="span_follow" hidden="hidden" id="follow-id" th:text="${followee.id}"></span>
            </li>
        </ul>
    </div>
</main>
</body>
<footer>
</footer>
<script>
    var lastId = document.querySelector('ul li:last-child span#follow-id').innerText;
    console.log(lastId);
    URL = "/api/followees/" + lastId;
    let isFetching = false;
    const getList = () => {
        isFetching = true;
        fetch(URL, {
            method: "GET",
        }).then(response => response.json())
            .then(data => {
                console.log(data);
                drawList(data);
            });
    }

    const drawList = (data) => {
        const list = document.querySelector('ul.list_follow');
        data.forEach((followee, index) => {
            const li = document.createElement('li');
            const span = document.createElement('span');
            span.innerText = followee.nickName;
            span.classList.add('span_follow');
            li.appendChild(span);
            const span2 = document.createElement('span');
            span2.innerText = followee.id;
            span2.classList.add('span_follow');
            span2.hidden = true;
            span2.id = 'follow-id';
            li.appendChild(span2);
            list.appendChild(li);

            if (index === data.length - 1) {
                lastId = followee.id;
            }
        });
    }
    window.addEventListener("scroll", () => {
        console.log('scroll')
        let scrollHeight = window.scrollY;
        let innerHeight = window.innerHeight;
        let offsetHeight = document.body.offsetHeight;
        const Is_END = scrollHeight + innerHeight > offsetHeight - 10;
        if (Is_END && !isFetching) {
            console.log('list')
            getList();
        }
    });
</script>
<script src="/js/followdetail.js"></script>
</html>