<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" ,
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>follow</title>
</head>
<body>
<div>
    <button id="btn-back"> X</button>
</div>
<main>
    <div>
        <ul >
            <li th:each="followee : ${followees}">
                <span th:text="${followee.nickName}"></span>
            </li>
        </ul>
    </div>
</main>
</body>
<footer>
</footer>
<script src="/js/followdetail.js"></script>
</html>