<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" ,
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header id="header" th:include="header"></header>
<span style="text-align: center"><strong>개인 페이지</strong></span>
<aside>
    <section style="text-align: center">
        <a class="following-link"
           th:attr="data-url='/user/'+${#authentication.principal.nickName} + '/followers'"
           onclick="location.href=this.getAttribute('data-url')"
           th:if="${followsCount.getFollowerCount() > 0}">
            <em>구독자</em>
            <span th:text="${followsCount.getFollowerCount()}"></span>
        </a>
        <a class="following-link" href="#" th:unless="${followsCount.getFollowerCount() > 0}">
            <em>구독자</em>
            <span th:text="${followsCount.getFollowerCount()}"></span>
        </a>


        <a class="following-link"
           th:attr="data-url='/user/'+${#authentication.principal.nickName} + '/followees'"
           onclick="location.href=this.getAttribute('data-url')"
           th:if="${followsCount.getFolloweeCount() > 0}">
            <em>작가</em>
            <span th:text="${followsCount.getFolloweeCount()}"></span>
        </a>
        <a class="following-link" href="#" th:unless="${followsCount.getFolloweeCount() > 0}">
            <em>작가</em>
            <span th:text="${followsCount.getFolloweeCount()}"></span>
        </a>

    </section>
</aside>
<main>
    <div style="text-align: center">
        달력 위치
    </div>
</main>

<div class="side-nav">
    <ul>
        <li style="list-style: none">
            <a class=""
               th:attr="data-url='/user/'+${#authentication.principal.nickName} + '/read'"
               onclick="location.href=this.getAttribute('data-url')">
                <em>내가 쓴 글</em>
            </a>
        </li>
        <li style="list-style: none">
            <a class=""
               th:attr="data-url='/user/'+${#authentication.principal.nickName} + '/favorite'"
               onclick="location.href=this.getAttribute('data-url')">
                <em>좋아요 한 글</em>
            </a>
        </li>
    </ul>
</div>

<main style="text-align: center">

</main>

</body>
<div th:include="footer"></div>
<script src="/js/nav.js"></script>
</html>