<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>임시 비밀번호 발급</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/userForm.css">
</head>

<body>
<header id="header" th:include="header"></header>
<h1>임시 비밀번호 발급</h1>

<br>
<br>

<div class="mb-3 sub-div">
  <input th:if="!${waitMailMessage}" type="button" value="임시 비밀번호 발급"
         class="btn btn-primary form-control-lg"
         onclick="location.href='/tempPassword'">
  <input id="sendTempPasswordDisabled" th:if="${waitMailMessage}" type="button" value="임시 비밀번호 발급"
         class="btn btn-primary form-control-lg"
         onclick="location.href='/tempPassword'" disabled>
  <h5 id="timerMessage" th:if="${waitMailMessage}" th:text="'약 2분 이내의 시간이 소요되니 잠시만 기다려주세요.'"></h5>
  <h5 id="timer" th:if="${waitMailMessage}"></h5>
</div>

<br>
<br>

<div class="mb-3 sub-div">
  <input type="button" value="로그인" class="btn btn-outline-primary form-control-lg"
         onclick="location.replace('/loginPage')">
</div>

<div id="footer" th:include="footer"></div>

</body>

<!--비밀번호 발급하고 2분이 지나야 다시 발급할 수 있게 비활성화 및 메시지 출력-->
<script>
    let time = 120;
    let min, sec;

    let timer = setInterval(function () {

        // 숫자 두 자리씩 유지
        min = String(parseInt(time / 60)).padStart(2, '0');
        sec = String(time % 60).padStart(2, '0');
        document.getElementById('timer').innerHTML = min + ":" + sec;
        time--;

        if (time < 0) {
            clearInterval(timer);
            document.getElementById('sendTempPasswordDisabled').disabled = false;
        }
    }, 1000);
</script>
</html>