<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 변경</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/userForm.css">
</head>

<body>
<header id="header" th:include="header"></header>
<h1>비밀번호 변경</h1>

<br>
<br>

<form action th:action th:object="${passwordEditForm}" method="post">
  <div class="mb-3">

    <label for="password">
      <h4>현재 비밀번호</h4>
    </label>
    <input type="password" name="oldPassword" id="password"
           th:errorclass="field-error"
           placeholder="기존 비밀번호 기입"
           class="form-control form-control-lg">
    <p class="field-error" th:errors="*{oldPassword}"></p>

    <label for="new-password">
      <h4>새로운 비밀번호</h4>
    </label>
    <input type="password" name="newPassword" id="new-password"
           th:errorclass="field-error"
           placeholder="8~20자리 / 영문, 숫자, 특수문자 포함"
           class="form-control form-control-lg">
    <p class="field-error" th:errors="*{newPassword}"></p>

    <label for="verify-password">
      <h4>새로운 비밀번호 확인</h4>
    </label>
    <input type="password" name="verifyPassword" id="verify-password"
           th:errorclass="field-error"
           placeholder="위 비밀번호와 동일하게 기입"
           class="form-control form-control-lg">
    <p class="field-error" th:errors="*{verifyPassword}"></p>


  <br>
  <br>

  <div class="mb-3 sub-div">
    <input type="submit" value="수정하기" class="btn btn-primary form-control-lg">
    <input type="button" value="취소하기" class="btn btn-outline-primary form-control-lg" onclick=history.back()>
  </div>
  </div>

</form>
<div id="footer" th:include="footer"></div>
</body>

</html>