<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <!-- 추가 -->
  <h2 th:if="${param.addStatus}" th:text="'저장 완료'"></h2>

  <!-- 추가 -->
  <h2 th:if="${param.updateStatus}" th:text="'수정 완료'"></h2>

  <div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="제목1" th:value="${post.title}" readonly>
  </div>
  <div>
    <label for="postBody">내용</label>
    <input type="text" id="postBody" name="postBody" class="form-control"
           value="내용1" th:value="${post.postBody}" readonly>
  </div>
  <div>
    <label for="nickName">닉네임</label>
    <input type="text" id="nickName" name="nickName" class="form-control"
           value="사용자1" th:value="${post.nickName}" readonly>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='boardUpdateForm.html'"
              th:onclick="|location.href='@{/board/update/{postNo}(postNo=${post.postNo})}'|"
              type="button">게시글 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='boardList.html'"
              th:onclick="|location.href='@{/board/list}'|"
              type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>