<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script src="/js/bootstrap.js"></script>
  <style>
    .container {
      max-width: 1000px;
    }

  </style>
</head>
<body>

<header id="header"></header>
<div th:include="header"></div>

<div class="container">
  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <!-- 게시글 저장 완료 -->
  <h2 th:if="${param.addStatus}" th:text="'저장 완료'"></h2>
  <!-- 게시글 수정 완료 -->
  <h2 th:if="${param.updateStatus}" th:text="'수정 완료'"></h2>

  <div class="mb-3">
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="제목1" th:value="${post.title}" readonly>
  </div>
  <div class="d-flex align-items-center text-50 p-3 my-3 rounded box-shadow">
    <img class="mr-3" th:src="@{/images/defaultProfile.png}" src="" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 lh-100" th:text="${authorUser.nickName}"></h6>
      <small th:text="${authorUser.email}"></small>
    </div>
  </div>
  <div class="mb-3">
    <label for="postBody">내용</label>
    <textarea id="postBody" name="postBody" class="form-control"
              th:text="${post.postBody}" rows="8" readonly></textarea>
  </div>

  <hr class="my-4">
  <div class="row">
    <div sec:authorize="hasRole('USER')"
         th:with="userNickName=${#authentication.principal.nickName}">
      <div class="col">

        <button class="w-100 btn btn-primary"
                onclick="location.href='postUpdateForm.html'"
                th:onclick="|location.href='@{/post/update/{postId}(postId=${post.postId},searchType=${searchType},searchWords=${searchWords})}'|"
                th:if="${#strings.equals(authorUser.nickName, userNickName)}"
                type="button">게시글 수정
        </button>

      </div>

      <!-- Button trigger modal -->
      <div class="col">
        <button type="button"
                class="w-100 btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#deletePost"
                th:if="${#strings.equals(authorUser.nickName, userNickName)}">삭제
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletePostLabel">삭제하시려면 밑의 글을 따라 치세요.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <label for="post-Title">제목</label>
                <input type="text" id="post-Title" name="post-Title" class="form-control"
                       value="제목1" th:value="${post.title}" readonly>
                <input type="text" id="post-Compare" name="post-Compare" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" onclick="deletePost()">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <button class="w-100 btn btn-secondary"
            onclick="location.href='postList.html'"
            th:onclick="|location.href='@{/post/list(page=${session.pageNumber},searchType=${searchType},searchWords=${searchWords})}'|"
            type="button">목록으로
    </button>
  </div>

  <div class="col mt-2">
    <form id="comment" th:action="@{/comments/{postId}(postId=${post.postId})}"
          th:object="${comments}" method="post">
      <div class="mb-3">
        <label th:text="댓글">댓글</label>
        <textarea class="form-control mt-1"
                  th:field="*{commentBody}" form="comment"
                  rows="3" placeholder="댓글을 남겨보세요">댓글란</textarea>
<!--        <div class="field-error" th:errors="*{postBody}">댓글 오류</div>-->
        <input type="submit" id="commentSubmit" th:value="등록" class="mt-1">
      </div>
    </form>
  </div>

  <div class="mt-3 col" id="postComment">
    <div th:each="commentDTO : ${commentList}">
      <div class="mt-2 card w-100">
        <div class="col card-header">
          <h5 class="card-title" th:id="${commentDTO.commentId}" th:text="${commentDTO.nickName}"></h5>
          <h6 class="card-subtitle" th:text="${commentDTO.date}"></h6>
        </div>
        <div class="col card-body">
          <p class="card-text" th:text="${commentDTO.commentBody}"></p>
          <div sec:authorize="hasRole('USER')"
               th:with="userNickName=${#authentication.principal.nickName}">
            <div th:if="${#strings.equals(authorUser.nickName, userNickName)}" class="mt-1 d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary btn-sm commentEdit" th:text="수정"></button>
              <button type="button" class="btn btn-primary btn-sm commentDelete" th:text="삭제"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div> <!-- /container -->

<footer id="footer"></footer>
<div th:include="footer"></div>

<script th:inline="javascript">

  const validName = [[${#authentication.principal.nickName}]];

  commentEditButtonInit();
  commentDeleteButtonInit();

  function commentRemake(list) {
    const postComment = document.getElementById('postComment');
    while (postComment.hasChildNodes()) {
      postComment.firstChild.remove();
    }
    for (let newComment of list) {
      let forComment = document.createElement('div');
      forComment.setAttribute('class', 'mt-2 card w-100');
      forComment.style.width = '18rem';
      let forCommentHeader = document.createElement('div');
      forCommentHeader.setAttribute('class', 'card-header row justify-content-md-center');
      let forCommentBody = document.createElement('div');
      forCommentBody.setAttribute('class', 'card-body');

      let userNickName = document.createElement('h5');
      userNickName.setAttribute('id', newComment.commentId);
      userNickName.setAttribute('class', 'card-title col');
      userNickName.innerText = newComment.nickName;

      let writeDate = document.createElement('h6');
      writeDate.setAttribute('class', 'card-subtitle col-md-auto');
      writeDate.innerText = newComment.date;

      let newCommentBody = document.createElement('p');
      newCommentBody.setAttribute('class', 'card-text commentBody');
      newCommentBody.innerText = newComment.commentBody;

      let buttonDiv = document.createElement('div');
      buttonDiv.setAttribute('class', 'mt-1 d-grid gap-2 d-md-flex justify-content-md-end');

      let editButton;
      let deleteButton;
      if (newComment.nickName == validName) {
        editButton = document.createElement('button');
        editButton.setAttribute('class', 'btn btn-primary btn-sm commentEdit');
        editButton.innerText = '수정';

        deleteButton = document.createElement('button');
        deleteButton.setAttribute('class', 'btn btn-primary btn-sm commentDelete');
        deleteButton.innerText = '삭제';

        buttonDiv.appendChild(editButton);
        buttonDiv.appendChild(deleteButton);
      }

      forComment.appendChild(forCommentHeader);
      forCommentHeader.appendChild(userNickName);
      forCommentHeader.appendChild(writeDate);

      forComment.appendChild(forCommentBody);
      forCommentBody.appendChild(newCommentBody);
      forCommentBody.appendChild(buttonDiv);

      postComment.appendChild(forComment);

      document.getElementById('commentBody').value = "";
    }
    commentEditButtonInit();
    commentDeleteButtonInit();
  }

  document.getElementById('commentSubmit').addEventListener('click', function (ev) {

    ev.preventDefault();
    const commentForm = document.getElementById('comment');

    const str_json = JSON.stringify(
            Object.fromEntries(
                    new FormData(commentForm)));

    if(document.getElementById('commentBody').value) {
      fetch(commentForm.getAttribute('action'), {
        method: 'POST',
        headers: { 'Content-Type' : 'application/json' },
        body: str_json
      })
              .then((response) => response.json())
              .then((list) => {
                commentRemake(list);
              });
    }
  });

  const deleteTitle = '[[${post.title}]]'
  const postId = [[${post.postId}]]

  function deletePost() {
    console.log("deleteTitle=" + deleteTitle);
    console.log("CompareTitle=" + document.getElementById("post-Compare").value);
    console.log("postId=" + postId);

    if (document.getElementById("post-Compare").value == deleteTitle) {
      fetch('/post/delete/' + postId, {method: 'DELETE'})
              .then(response => {
                window.location = response.url
              });
      window.alert("삭제 성공")
    } else {
      window.alert("삭제 실패")
    }
  }

  <!-- end 게시글 삭제 -->

  function commentEditButtonInit() {
    let commentEdits = document.getElementsByClassName('commentEdit');
    for (let commentEdit of commentEdits) {
      commentEdit.removeEventListener('click', commentEditButtonEvent);
      commentEdit.addEventListener('click', commentEditButtonEvent);
    }
  } //transEdit

  function commentEditButtonEvent(event) {
    event.preventDefault();

    let target = event.target;
    let cardBody = target.closest('.card-body');
    let textarea = document.createElement('textarea');
    let p = cardBody.firstElementChild;
    let commentBodyText = p.innerText;
    let transButton = target.closest('div').querySelector('.commentDelete');

    textarea.setAttribute('class', 'col form-control')
    textarea.value = commentBodyText;
    cardBody.replaceChild(textarea, p);

    target.removeEventListener('click', commentEditButtonEvent);
    target.innerText = '등록';
    transButton.innerText = '취소';

    transButton.addEventListener('click', function() {
      p.innerText = commentBodyText;
      cardBody.replaceChild(p, textarea);
      target.innerText = '수정';
      transButton.innerText = '삭제';
      target.addEventListener('click', commentEditButtonEvent);
    });

    target.addEventListener('click', function (ev) {
      ev.preventDefault();

      if (target.innerText != '등록')
        return;

      let formData = new FormData();
      formData.set('commentId', target.closest('.card').querySelector('h5').id);
      formData.set('commentBody', target.closest('.card-body').firstElementChild.value);

      fetch('/comments/' + postId, {
        method: 'PUT',
        headers: { 'Content-Type' : 'application/json'},
        body: JSON.stringify(Object.fromEntries(formData))
      })
              .then((response) => response.json())
              .then((list) => {
                commentRemake(list);
              });
    });
  }

  function commentDeleteButtonInit() {
    for ( let commentDeleteButton of document.getElementsByClassName("commentDelete")) {
      commentDeleteButton.removeEventListener('click', commentDeleteButtonEvent);
      commentDeleteButton.addEventListener('click', commentDeleteButtonEvent);
    }
  }

  function commentDeleteButtonEvent(ev) {
    ev.preventDefault();

    let commentDeleteButton = ev.target;
    if (commentDeleteButton.innerText != '삭제')
      return;

    if (!confirm('정말 삭제하시겠습니까?')) {
      return;
    }

    let formData = new FormData();
    formData.set('commentId', commentDeleteButton.closest('.card').querySelector('h5').id);

    fetch('/comments', {
      method: 'DELETE',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(Object.fromEntries(formData))
    }).then((response) => {
      if (response.status == 200) {
        commentDeleteButton.closest('.card').remove();
      }
    });
  }


</script>

</body>
</html>