<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script src="/js/bootstrap.js"></script>
  <style>
    .container {
      max-width: 1000px;
    }

  </style>
</head>
<body>

<header id="header"></header>
<div th:include="header"></div>

<div class="container">
  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <!-- 게시글 저장 완료 -->
  <h2 th:if="${param.addStatus}" th:text="'저장 완료'"></h2>
  <!-- 게시글 수정 완료 -->
  <h2 th:if="${param.updateStatus}" th:text="'수정 완료'"></h2>

  <div class="mb-3">
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="제목1" th:value="${post.title}" readonly>
  </div>
  <div class="d-flex align-items-center text-50 p-3 my-3 rounded box-shadow">
    <img class="mr-3" th:src="@{/images/defaultProfile.png}" src="" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 lh-100" th:text="${authorUser.nickName}"></h6>
      <small th:text="${authorUser.email}"></small>
    </div>
  </div>
  <div class="mb-3">
    <label for="postBody">내용</label>
    <textarea id="postBody" name="postBody" class="form-control"
              th:text="${post.postBody}" rows="8" readonly></textarea>
  </div>

  <hr class="my-4">
  <div class="row">
    <div sec:authorize="hasRole('USER')"
         th:with="userNickName=${#authentication.principal.nickName}">
      <div class="col">

        <button class="w-100 btn btn-primary"
                onclick="location.href='postUpdateForm.html'"
                th:onclick="|location.href='@{/post/update/{postId}(postId=${post.postId},searchType=${searchType},searchWords=${searchWords})}'|"
                th:if="${#strings.equals(authorUser.nickName, userNickName)}"
                type="button">게시글 수정
        </button>

      </div>

      <!-- Button trigger modal -->
      <div class="col">
        <button type="button"
                class="w-100 btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#deletePost"
                th:if="${#strings.equals(authorUser.nickName, userNickName)}">삭제
        </button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletePostLabel">삭제하시려면 밑의 글을 따라 치세요.</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                <label for="post-Title">제목</label>
                <input type="text" id="post-Title" name="post-Title" class="form-control"
                       value="제목1" th:value="${post.title}" readonly>
                <input type="text" id="post-Compare" name="post-Compare" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" onclick="deletePost()">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <button class="w-100 btn btn-secondary"
            onclick="location.href='postList.html'"
            th:onclick="|location.href='@{/post/list(page=${session.pageNumber},searchType=${searchType},searchWords=${searchWords})}'|"
            type="button">목록으로
    </button>
  </div>

  <div class="col mt-2">
    <form id="comment" th:action="@{/comments/{postId}(postId=${post.postId})}"
          th:object="${comments}" method="post">
      <div class="mb-3">
        <label th:text="댓글">댓글</label>
        <textarea class="form-control mt-1"
                  th:field="*{commentBody}" form="comment"
                  rows="3" placeholder="댓글을 남겨보세요">댓글란</textarea>
<!--        <div class="field-error" th:errors="*{postBody}">댓글 오류</div>-->
        <input type="submit" id="commentSubmit" th:value="등록" class="mt-1">
      </div>
    </form>
  </div>

  <div class="mt-3 col" id="postComment">
    <div th:each="commentDTO : ${commentList}">
      <div class="mt-2 card w-100">
        <div class="col card-header">
          <h5 class="card-title" th:id="${commentDTO.commentId}" th:text="${commentDTO.nickName}"></h5>
          <h6 class="card-subtitle" th:text="${commentDTO.date}"></h6>
        </div>
        <div class="col card-body">
          <p class="card-text" th:text="${commentDTO.commentBody}"></p>
          <div sec:authorize="hasRole('USER')"
               th:with="userNickName=${#authentication.principal.nickName}">
            <div th:if="${#strings.equals(authorUser.nickName, userNickName)}" class="mt-1 d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" class="btn btn-primary btn-sm commentEdit" th:text="수정"></button>
              <button type="button" class="btn btn-primary btn-sm commentDelete" th:text="삭제"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div> <!-- /container -->

<footer id="footer"></footer>
<div th:include="footer"></div>

<script th:inline="javascript">

  const validName = [[${#authentication.principal.nickName}]];
  const deleteTitle = '[[${post.title}]]'
  const postId = [[${post.postId}]]

  function deletePost() {
    console.log("deleteTitle=" + deleteTitle);
    console.log("CompareTitle=" + document.getElementById("post-Compare").value);
    console.log("postId=" + postId);

    if (document.getElementById("post-Compare").value == deleteTitle) {
      fetch('/post/delete/' + postId, {method: 'DELETE'})
              .then(response => {
                window.location = response.url
              });
      window.alert("삭제 성공")
    } else {
      window.alert("삭제 실패")
    }
  }
  <!-- end 게시글 삭제 -->
</script>
<script type="text/javascript" src="/js/comment.js"></script>

</body>
</html>