<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link href="../js/bootstrap.js"
        th:href="@{/js/bootstrap.min.css}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <style>
    .container {
      max-width: 1000px;
    }
  </style>
</head>
<body>

<header id="header"></header>
<div th:include="header" ></div>

<div class="container">
  <div class="py-5 text-center">
    <h2>게시글</h2>
  </div>

  <!-- 게시글 저장 완료 -->
  <h2 th:if="${param.addStatus}" th:text="'저장 완료'"></h2>
  <!-- 게시글 수정 완료 -->
  <h2 th:if="${param.updateStatus}" th:text="'수정 완료'"></h2>

  <div class="mb-3">
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="제목1" th:value="${post.title}" readonly>
  </div>
  <div class="d-flex align-items-center text-50 p-3 my-3 rounded box-shadow">
    <img class="mr-3" th:src="@{/images/defaultProfile.png}" src="" alt="" width="48" height="48">
    <div class="lh-100">
      <h6 class="mb-0 lh-100" th:text="${authorUser.nickName}"></h6>
      <small th:text="${authorUser.email}"></small>
    </div>
  </div>
  <div class="mb-3">
    <label for="postBody">내용</label>
    <textarea id="postBody" name="postBody" class="form-control"
              th:text="${post.postBody}" rows="8" readonly></textarea>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='postUpdateForm.html'"
              th:onclick="|location.href='@{/post/update/{postId}(postId=${post.postId})}'|"
              type="button">게시글 수정</button>
    </div>

    <!-- Button trigger modal -->
    <div class="col">
      <button type="button" class="w-100 btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#deletePost">
        삭제
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deletePostLabel">삭제하시려면 밑의 글을 따라 치세요.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <label for="post-Title">제목</label>
              <input type="text" id="post-Title" name="post-Title" class="form-control"
                     value="제목1" th:value="${post.title}" readonly>
              <input type="text" id="post-Compare" name="post-Compare" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" onclick="deletePost()">삭제</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='postList.html'"
              th:onclick="|location.href='@{/post/list}'|"
              type="button">목록으로</button>
    </div>
  </div>
</div> <!-- /container -->

<footer id="footer"></footer>
<div th:include="footer" ></div>

<script type="text/javascript">


  const deleteTitle = '[[${post.title}]]'
  const postId = [[${post.postId}]]

  function deletePost () {
    console.log("deleteTitle=" + deleteTitle);
    console.log("CompareTitle=" + document.getElementById("post-Compare").value);
    console.log("postId=" + postId);

    if (document.getElementById("post-Compare").value == deleteTitle) {
      fetch('/post/delete/'+postId, {method: 'DELETE'})
              .then(response => {
                window.location = response.url
              });
      window.alert("삭제 성공")
    } else {
      window.alert("삭제 실패")
    }
  }
  <!-- end 게시글 삭제 -->

</script>

</body>
</html>