<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 정보 수정</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/userForm.css">
</head>

<body>
<!--header, navigation 불러오기-->
<h1>회원 정보 수정</h1>

<br>
<br>

<form action="/edit" method="post">
  <div class="mb-3">
    <label for="userName">
      <h4>이름</h4>
    </label>
    <input type="text" name="userName" id="userName"
           placeholder="홍길동" class="form-control form-control-lg">

    <br>

    <label for="nickName">
      <h4>닉네임</h4>
    </label>
    <input type="text" name="nickName" id="nickName" placeholder="2~8자리 / 한글, 영문, 숫자 사용 가능"
           class="form-control form-control-lg nickNameInline">

    <br>

    <label for="email">
      <h4>E-mail</h4>
    </label>
    <input type="email" name="email" id="email"
           class="form-control form-control-lg" readonly>

    <br>

    <div class="mb-3 sub-div">
      <input type="button" value="비밀번호 재설정" class="btn btn-primary form-control-lg">
    </div>

    <br>

    <label for="phoneNo">
      <h4>전화번호</h4>
    </label>
    <input type="tel" name="phoneNo" id="phoneNo"
           placeholder="숫자만 입력 (01012345678)"
           class="form-control form-control-lg">
  </div>

  <br>

  <div class="centerDiv">
    <h4>성별</h4>
    <div class="form-check form-check-inline">
      <input type="radio" name="gender" id="male" value="male" checked>
      <label for="male">남자</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" name="gender" id="female" value="female">
      <label for="female">여자</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio" name="gender" id="non" value="non">
      <label for="non">밝히고 싶지 않음</label>
    </div>
  </div>

  <br>
  <br>

  <div class="mb-3 sub-div">
    <input type="submit" value="수정하기" class="btn btn-primary form-control-lg">
    <input type="button" value="취소하기" class="btn btn-outline-primary form-control-lg" onclick="history.back()">
  </div>

</form>

</body>

</html>