<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Root Page</title>
    <style>
        .nav li {
            margin-right: 10px;
        }

        /* CSS to move the buttons to the right */
        .justify-content-lg-start {
            justify-content: flex-end;
        }
    </style>
</head>
<body>
<header class="p-3 bg-white text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <button type="button"
                    onclick="location.href='/loginPage'"
                    sec:authorize="isAnonymous()"
                    class="btn btn-primary">Login
            </button>

            <button type="button"
                    onclick="location.href='/join'"
                    sec:authorize="isAnonymous()"
                    class="btn btn-outline-primary">Sign-up
            </button>
            <button th:if="${#request.getAttribute('loginError')!= null}" type="button"
                    onclick="location.href='/loginPage'"
                    class="btn btn-primary">Login
            </button>

            <button th:if="${#request.getAttribute('loginError')!= null}" type="button"
                    onclick="location.href='/join'"
                    class="btn btn-outline-primary">Sign-up
            </button>
            <button type="button"
                    onclick="location.href='/admin/'"
                    sec:authorize="hasRole('ADMIN')"
                    class="btn btn-primary">admin
            </button>

            <button type="button"
                    onclick="location.href='/my-page'"
                    sec:authorize="hasRole('USER')"
                    class="btn btn-primary">mypage
            </button>

            <button type="button"
                    onclick="location.href='/logout'"
                    sec:authorize="hasAnyRole('USER','ADMIN','GUEST')"
                    class="btn btn-outline-primary">logout
            </button>

        </div>
    </div>
</header>
</body>
</html>