<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="nav" class="nav-wrapper">
    <div class="menu-button" onclick="toggleNav()">
    </div>
    <nav class="menu-list" id="navMenu">
        <ul>
            <li>
                <span class="li-hov">menu1</span>
            </li>
            <li>
                <span class="li-hov">menu2</span>
            </li>
            <li>
                <span class="li-hov">menu1</span>
            </li>
            <li>
                <span class="li-hov">menu2</span>
            </li>
            <li>
                <span class="li-hov">menu1</span>
            </li>
            <li>
                <span class="li-hov">menu2</span>
            </li>
            <li>
                <span class="li-hov">menu1</span>
            </li>
            <li>
                <span class="li-hov">menu2</span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>