<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" ,
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/followdetail.css">
    <title>follow</title>
</head>
<body>
<aside>
    <button class="btn-back_text_hide"></button>
</aside>
<header>
    <div>
        <strong class="title_follow">
            내가 구독하는
            <span class="span_follow">
                <span id="all-count" th:text="${allCount}"></span>
            </span>
            명
        </strong>
    </div>
</header>
<main>
    <div>
        <ul id="ul-follow" class="list_follow">
            <li th:each="follower : ${followers.getFollowInfos()}">
                <span class="span_follow-profile-image">
                </span>
                <span class="span_follow" th:text="${follower.nickName}"></span>
                <span class="span_follow" hidden="hidden" id="follow-id" th:text="${follower.id}"></span>
                <span class="span_follow" hidden="hidden" id="userId" th:text="${follower.userId}"></span>
                <button th:id="btn-unfollow+${follower.id}" class="btn-subscribe"
                        type="button">
                    <span class = "txt_default">
                        구독중
                    </span>
                    <span class = "txt_on">
                        구독 취소
                    </span>
                </button>
            </li>
        </ul>
    </div>
</main>
</body>
<footer>
</footer>
<script src="/js/followdetail.js"></script>
</html>