<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>소셜 계정 가입 </title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/nav.css}" rel="stylesheet">
    <link th:href="@{/css/signup.css}" rel="stylesheet">
    <link th:href="@{/css/sidenav.css}" rel="stylesheet">
    <link th:href="@{/css/social.css}" rel="stylesheet">
</head>
<header id="header" th:include="header"></header>

<body>
<div class="d-flex" style="font-size: 20px">
    <div th:replace="header::header"></div>
    <div class="d-flex">
        <div th:replace="sidenav::nav"></div>
        <div class="align-self-stretch">
            <form th:action="@{/social/oauth2/signup}" th:object="${signUpDto}" method="post">
                <div class="mb-3">
                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname"
                           th:field="*{nickName}"
                           name="nickname" placeholder="Enter your nickname" required
                           th:errorclass="field-error"
                           class="form-control form-control-lg nickNameInline">
                    <p class="field-error" th:errors="*{nickName}"></p>
                </div>

                <div class="mb-3">
                    <label for="phone">핸드폰 번호</label>
                    <input type="tel" id="phone"
                           th:field="*{phoneNo}"
                           name="phone" placeholder="Enter your phone number" required
                           th:errorclass="field-error">
                    <p class="field-error" th:errors="*{phoneNo}"></p>
                </div>
                <div class="mb-3">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password"
                           th:field="*{password}"
                           placeholder="Enter your password" required
                           th:errorclass="field-error" class="form-control form-control-lg">
                    <p class="field-error" th:errors="*{password}"></p>

                    <label for="verify-password"> 비밀번호 확인</label>
                    <input type="password" name="verifyPassword" id="verify-password"
                           th:errorclass="field-error"
                           th:field="*{verifyPassword}"
                           placeholder="위 비밀번호와 동일하게 기입" required
                           class="form-control form-control-lg">
                    <p class="field-error" th:errors="*{verifyPassword}"></p>

                </div>
                <input type="hidden" id="email" name="email"
                       th:field="*{email}"
                />
                <input type="hidden" id="gender" name="gender"
                       th:field="*{gender}"
                />

                <input type="hidden" id="userName" name="userName"
                       th:field="*{userName}"
                />

                <input type="hidden" id="provider" name="clientregistrationName"
                       th:field="*{clientregistrationName}"/>
                <input type="hidden" id="providerId" name="authorizationServerId"
                       th:field="*{authorizationServerId}"/>

                <input type="submit" value="Signup">
            </form>
        </div>
    </div>
</div>
</body>
<footer id="footer" th:include="footer"></footer>
</html>
