<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>소셜 계정 가입 </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<header id="header" th:include="header"></header>

<body>
<h2>Social Signup</h2>
<form th:action="@{/social/oauth2/signup}" th:object="${signUpDto}" method="post">
    <label for="nickname">닉네임</label>
    <input type="text" id="nickname"
           th:field="*{nickName}"
           name="nickname" placeholder="Enter your nickname" required
           th:errorclass="field-error"
           class="form-control form-control-lg nickNameInline">
    <p class="field-error" th:errors="*{nickName}"></p>

    <label for="phone">핸드폰 번호</label>
    <input type="tel" id="phone"
           th:field="*{phoneNo}"
           name="phone" placeholder="Enter your phone number" required
           th:errorclass="field-error">
    <p class="field-error" th:errors="*{phoneNo}"></p>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password"
           th:field="*{password}"
           placeholder="Enter your password" required
           th:errorclass="field-error" class="form-control form-control-lg">
    <p class="field-error" th:errors="*{password}"></p>

    <label for="verify-password"> 비밀번호 확인</label>
    <input type="password" name="verifyPassword" id="verify-password"
           th:errorclass="field-error"
           th:field="*{verifyPassword}"
           placeholder="위 비밀번호와 동일하게 기입" required
           class="form-control form-control-lg">
    <p class="field-error" th:errors="*{verifyPassword}"></p>

    <input type="hidden" id="email" name="email"
           th:field="*{email}"
    />
    <input type="hidden" id="gender" name="gender"
           th:field="*{gender}"
    />

    <input type="hidden" id="userName" name="userName"
           th:field="*{userName}"
    />

    <input type="hidden" id="provider" name="clientregistrationName"
           th:field="*{clientregistrationName}"/>
    <input type="hidden" id="providerId" name="authorizationServerId"
           th:field="*{authorizationServerId}"/>

    <input type="submit" value="Signup">
</form>

</body>
<footer id="footer" th:include="footer"></footer>
</html>
